#root {
    color: rgb(196, 221, 54);

    .January{
        color: brown;

        &#1{
            background-color: black;
        }
        //a & lényegében 1 selectorrá fűzi össze a felette lévővel
        .day{
            color: blue;
        }
    }
}
